/vendor
/node_modules
/.phpunit.result.cache
/storage/*.key
/storage/pail
*.env
*.env.backup
.env.production
.DS_Store
.idea
.vscode
*.log
npm-debug.log
yarn-error.log
/database/database.sqlite
/database/*.sqlite